[flake8]
select = 
    # A: flake8-builtins
    A,
    # B: flake8-bugbear
    B,
    # B9: flake8-bugbear
    B9,
    # BLK: Black
    BLK,
    # C: McCabe complexity
    C,
    # D: flake8-docstrings 
    #D,
    # DAR: darglint for docstrings 
    #DAR,
    # E: pycodestyle / PEP8
    E,
    # F: pyflakes
    F,
    # I: flake8-import-order
    I,
    # N8: pep8-naming
    N,
    # W: pycodestyle / PEP8
    W
ignore = 
    # E203: Whitespace before ':' (used for Black)
    E203,
    # W503: Line break occurred before a binary operator (used for Black)
    W503
max-line-length = 
    # Using lw of 88 for Black
    88
max-complexity = 
    # Using McCabe complexity checker
    10
